ul {
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}

.weather-app {
  border: 1px solid;
  border-radius: 10px;
  border-color: royalblue;
  display: block;
  margin: 0 auto;
  padding: 30px;
  max-width: 650px;
  max-height: 500px;
  color: #ffffff;
  background-image: linear-gradient(
    to top,
    #3f51b1 0%,
    #5a55ae 13%,
    #7b5fac 25%,
    #8f6aae 38%,
    #a86aa4 50%,
    #cc6b8e 62%,
    #f18271 75%,
    #f3a469 87%,
    #f7c978 100%
  );
}

.btn {
  color: white;
  background-color: #f18571;
  border-radius: 10px;
  border-color: blue;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  font-size: 16px;
  line-height: 5px;
  padding: 16px 24px;
}

.weather-forecast h3 {
  color: white;
  font-size: 20px;
  font-weight: 400;

  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  height: 60px;
  width: 60px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperature {
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: 500;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
.C {
  font-size: 20px;
}
.F {
  font-size: 20px;
}
.pipe {
  font-size: 20px;
}
